<template>
  <div>
    <div class="max-w-xs mx-auto">
      <p class="text-center text-2xl text-gray-700 my-6">
        {{ description }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  props: ["description"],
};
</script>
