<template>
  <div class="relative py-6 overflow-hidden md:flex md:justify-center">
    <div
      class="w-min mx-auto border flex justify-center rounded-2xl border-gray-200 center z-10 overflow-hidden whitespace-nowrap absolute top-0 left-8 transition-all duration-300 ease-in-out"
      ref="tabContainer"
    >
      <div
        class="h-10 absolute bg-green-300 w-40 left-0 top-0 transition-all ease-in-out duration-300"
        ref="indicator"
      ></div>
      <button
        @click="selectData(data)"
        class="inline-block py-2 w-40 border-r last:border-none border-gray-200 z-0"
        :class="{
          'text-white': selectedTab.id === data.id,
          'text-green-600': selectedTab.id !== data.id,
        }"
        href="#"
        v-for="data in tabData"
        :key="data.id"
      >
        {{ data.title }}
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: ["selectedTab", "tabData"],
  methods: {
    selectData(data) {
      this.$emit("selectData", data);
      this.changeXPosition(data);
    },

    changeXPosition(data) {
      const tabContainer = this.$refs.tabContainer;

      // -1 is because of tab contain has one more div for indicator
      const numberOfTabButton = tabContainer.children.length - 1;
      const tabButtonWidth = Math.ceil(
        tabContainer.clientWidth / numberOfTabButton
      );

      let newXPosition;
      let indicatorPosition;

      if (data.id === 1) {
        newXPosition = 0;
        indicatorPosition = 0;
      } else {
        newXPosition = -((data.id - 1) * (tabButtonWidth / 2));
        indicatorPosition = (data.id - 1) * tabButtonWidth;
      }

      this.$refs.tabContainer.style.transform = `translateX(${newXPosition}px)`;
      this.$refs.indicator.style.left = `${indicatorPosition}px`;
    },
  },
};
</script>
